---
title: Home
permalink: false
---
{% extends "layout.njk" %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">Contents</h1>
      <ul>
        <li><a class="button is-link" href="/quiz_generator.html">✅ Quick-check Quiz Generator</a></li>
        <li><a class="button is-link" href="/h5p_portfolio.html">🎓 H5P Portfolio</a></li>
        <li><a class="button is-link" href="/generic_cards2.html">👪 PhD Research - Difficult Discussion Cards</a></li>
      </ul>

      <h3 class="title is-4">Legacy - for Canvas education CMS</h3>
      <ul>
        <li><a class="button is-link" href="/chatgpt_rpgen.html">AI Roleplay Button Generator</a></li>
        <li><a class="button is-link" href="/chat_roleplay_bookmarklet.html">Chat Roleplay Helper Bookmarklet</a></li>
      </ul>
    </div>
  </section>
{% endblock %}
